.idea/
env/
env*/
*.py[cod]
*.egg-info/
dist/
.cache/
.mypy_cache/
test.py
.coverage
htmlcov/
benchmarks/*.json
docs/_build/
/docs/.*.md
docs/examples/*.html
old-version/
*.swp
/site/
/site.zip
/build/
