coverage[toml]==6.5.0
Pygments==2.13.0
pytest==7.2.0
pytest-mock==3.10.0
pytest-pretty==0.0.1
# these packages are used in tests so install the latest version
pydantic
asyncpg
numpy
multidict
sqlalchemy
